.login {
  padding-top: 10vh;
  height: 100vh;
  overflow: hidden;
}

.singup {
  padding-top: 10vh;
  height: 100vh;
}

.container {
  background-color: #dafae8;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  background-image: url("/public/background_4.jpg");

  background-size: cover;
}

.footer-text {
  padding-top: 10vh;
}

.footer-text {
  padding-top: 28vh;
}

@media only screen and (max-height: 820px) {
  .footer-text {
    padding-top: 18vh;
  }
}

@media only screen and (max-height: 844px) {
  .footer-text {
    padding-top: 20vh;
  }
}

@media only screen and (max-height: 740px) {
  .footer-text {
    padding-top: 15vh;
  }
}

@media only screen and (max-height: 722px) {
  .footer-text {
    padding-top: 13vh;
  }
}

/* a {
  color: #cfcfcf;
}

.text-transform {
  color: #cfcfcf;
}

.ant-pro-form-login-desc {
  color: #cfcfcf;
}

.ant-tabs-tab-btn {
  color: white;
} */

.ant-pro-footer-bar {
  background-color: none;
}

.ant-pro-form-login-container {
  padding: 40px 10px;
  max-width: 450px;
  max-height: 500px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(3px);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 auto;
}

/* .ant-pro-form-login-main {
  padding: 40px 10px;
  max-width: 400px;
  max-height: 500px;
  background-color: #fff;
  border-radius: 5px;
  margin: 0 auto;
} */
