.editor {
  box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, 0.3333333333333333);
  transition: top 0.4s ease, left 0.4s ease;
  background-color: #d1e0ff;
}

.react-flow__controls {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.08);
  display: flex;
  position: absolute;
  z-index: 5;
  top: 10px;
  right: 10px;
  bottom: auto !important;
  left: auto !important;
}

.react-flow__panel {
  margin: 0;
}

.react-flow__controls .react-flow__controls-button {
  border-bottom: none;
  border-right: 1px solid #eee;
}

.react-flow__controls-button {
  align-items: center;
  background: #fefefe;
  border-bottom: 1px solid #eee;
  box-sizing: content-box;
  cursor: pointer;
  display: flex;
  height: 16px;
  justify-content: center;
  padding: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 16px;
}
