
.train-list {
    margin-bottom: 30px;
}

.train-list-header {
    font-size: 16px;
    font-weight: 500;
}

.train-list-header{
    
}

.view-train {
    /* height: 100%; */
    height: 100%;
    background-color: #FFF;
}

.img-train {
    text-align: center;
}