body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-pro-top-nav-header-main-left {
  margin-right: 3vh;
}


.ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected {
  color: black;
  background-color: #fff;
}

.ant-menu-light.ant-menu-horizontal>.ant-menu-item {
  border-radius: 6px;
}
.ant-pro-global-header-header-actions-avatar > div > span {
  color: #fff;
}

.ant-pro-top-nav-header-logo>*:first-child>h1 {
      display: inline-block;
        margin-block: 0;
        margin-inline: 0;
        line-height: 24px;
        margin-inline-start: 6px;
        font-weight: 600;
        font-size: 24px;
        color: #DAFAE8;
        vertical-align: top;
}